/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox checking again*/
html {
  font-size: 62.5%;
}

.home-page-container {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 1%;
}

header {
  padding: 4% 0 8% 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: grey;
  width: 18%;
  font-size: 1.45rem;
}

.header-block {
  display: flex;
  justify-content: space-between;
}

.hero-text-cta {
  width: 62%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 8rem;
}

button {
  margin-top: 2%;
  border: 1px solid black;
  height: 9%;
  width: 35%;
  font-size: 1.4rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6.5%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.content-block {
  width: 50%;
  margin: 1.5% 0;
  padding: 2.5% 1.5% 2.5% 0;
}

.middle-img {
  width: 100%;
}

.bottom-block {
  width: 33.3%;
}

h2 {
  font-size: 1.4rem;
}

p {
  line-height: 1.4;
  font-size: 1.4rem;
}

.contact-info {
  padding: 2.5% 1% 0 0;
  line-height: 2.5;
}

.location {
  line-height: 1.3;
}

.contact-info {
  font-size: 1.4rem;
}

.contact-info a {
  text-decoration: none;
  color: black;
}

/* services page starts here */
.services-header-img {
  width: 100%;
  margin-top: 30px;
  padding: 5px;
}

.services-intro-text {
  margin: 50px 0 30px 0;
  padding: 15px;
}

h3 {
  font-size: 22pt;
}

.service-descriptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-items {
  padding: 25px;
  width: calc(49% - 5px);
  height: 20%;
  background: #ededed;
  border: 1px solid black;
  margin: 15px 0 25px 0;
}

.service-items button {
  border-radius: 5px;
  margin-top: 20px;
  height: 30px;
}

ul {
  list-style-type: square;
  padding-left: 20px;
  margin-top: 20px;
}

li {
  line-height: 1.6;
}

.conclusion {
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 70px;
}

.conclusion-text {
  width: 50%;
  padding: 0 10px 10px 10px;
}

/* Footer for all pages */
footer p {
  font-size: 1.3rem;
  text-align: center;
  padding: 2% 0;
}

/* Tablet view at 800px goes here; the page is widened with narrower body margin */
@media (max-width: 800px) {
  header {
    flex-direction: column;
  }

  /* Reordering of navigation children will carry through to mobile view */
  nav {
    order: 2;
    margin-top: 5%;
    width: 100%;
    justify-content: space-between;
    padding: 0 1%;
  }

  .header-image {
    display: none;
  }

  button {
    padding: 1.5% 0 4.5% 0;
  }

  .header-block {
    justify-content: center;
  }

  /* Services page */
  .services-intro-text {
    width: 100%;
    margin: 40px 0 15px 0;
  }

  .conclusion-text {
    padding-right: 30px;
  }

  .services-info-img {
    width: 55%;
  }

  /* Mobile view at 500px goes here; the page is widened with zero body margin */
  @media (max-width: 500px) {
    .home-page-container {
      padding: 0;
    }

    /* Changing nav flex-direction to column */

    nav {
      margin-top: 6%;
      flex-direction: column;
    }

    nav a {
      width: 100%;
      border-top: 1px solid darkgray;
      text-align: center;
      font-weight: bold;
      padding: 5%;
    }

    nav a:last-child {
      border-bottom: 1px solid darkgrey;
    }

    .header-block {
      padding: 5% 0 0 0;
    }

    button {
      width: 55%;
      margin-top: 3%;
      padding: 3% 0 8% 0;
    }

    /* Changing content flex-direction to column */
    .content {
      margin: 13% 2% 0 2%;
      flex-direction: column;
    }

    .content-block {
      width: 100%;
      padding: 2% 0;
    }

    .content-block:first-child {
      margin-top: 8%;
    }

    .middle-img {
      padding: 5% 0;
    }

    .contact-info {
      padding: 5% 2% 0 2%;
    }

    /* Services page */
    .services-intro-text {
      padding: 20px;
    }

    .service-descriptions {
      flex-direction: column;
    }

    .service-items {
      padding: 50px;
      width: 95%;
      margin: 0 auto;
      margin-bottom: 15px;
    }

    .service-items:last-child {
      margin-bottom: 50px;
    }

    .services-info-img {
      display: none;
    }

    .conclusion {
      padding-top: 35px;
    }

    .conclusion-text {
      width: 100%;
      padding: 20px;
    }

    footer p {
      font-size: 9pt;
      margin: 3% 0;
    }
  }
}
